.columnStyle {
    width: 20%;
    text-align: left;
    cursor: pointer;
};

.columnStyle:hover{
  opacity: 0;
}

.tableStyle {
    width: 100%;
    padding: 30px;
  };

.tableHeaderStyle {
    text-align: left;
    cursor: pointer;
  };


.typeFilter{
    cursor: pointer;
    
  };

.typeFilter:hover {
    color: green;
  };

.filterStatusStyle {
    display: flex;
    cursor: pointer;
  };

.tooltipImage{
  width: 400px;
  height: 400px;
  background-color: pink;
  border: 5px;
}

.hoverImage{
  width: 400px;
  border: 2px;
}